USE [master]
GO
/****** Object:  Database [Scheduler]    Script Date: 5/11/2015 1:30:19 AM ******/
CREATE DATABASE [Scheduler]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'Scheduler', FILENAME = N'C:\Users\Babis\Scheduler.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'Scheduler_log', FILENAME = N'C:\Users\Babis\Scheduler_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Scheduler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Scheduler]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/11/2015 1:30:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 5/11/2015 1:30:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[IpAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Commands]    Script Date: 5/11/2015 1:30:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Category] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Commands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommandsExecution]    Script Date: 5/11/2015 1:30:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommandsExecution](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Result] [int] NOT NULL,
	[CommandId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[StartExecution] [datetime] NULL,
	[FinishExecution] [datetime] NULL,
 CONSTRAINT [PK_dbo.CommandsExecution] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExecutionLogEntries]    Script Date: 5/11/2015 1:30:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionLogEntries](
	[Id] [int] NOT NULL,
	[ExecutionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExecutionLogEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogEntries]    Script Date: 5/11/2015 1:30:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Level] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LogEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Commands] ON 

INSERT [dbo].[Commands] ([Id], [Name], [Category]) VALUES (1, N'Update to .NET Framework 3.5', 0)
INSERT [dbo].[Commands] ([Id], [Name], [Category]) VALUES (2, N'Update to Latest .NET Framework', 0)
INSERT [dbo].[Commands] ([Id], [Name], [Category]) VALUES (3, N'Perform Windows update', 1)
SET IDENTITY_INSERT [dbo].[Commands] OFF
/****** Object:  Index [IX_ClientId]    Script Date: 5/11/2015 1:30:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClientId] ON [dbo].[CommandsExecution]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommandId]    Script Date: 5/11/2015 1:30:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_CommandId] ON [dbo].[CommandsExecution]
(
	[CommandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExecutionId]    Script Date: 5/11/2015 1:30:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExecutionId] ON [dbo].[ExecutionLogEntries]
(
	[ExecutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 5/11/2015 1:30:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[ExecutionLogEntries]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommandsExecution]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommandsExecution_dbo.Clients_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommandsExecution] CHECK CONSTRAINT [FK_dbo.CommandsExecution_dbo.Clients_ClientId]
GO
ALTER TABLE [dbo].[CommandsExecution]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommandsExecution_dbo.Commands_CommandId] FOREIGN KEY([CommandId])
REFERENCES [dbo].[Commands] ([Id])
GO
ALTER TABLE [dbo].[CommandsExecution] CHECK CONSTRAINT [FK_dbo.CommandsExecution_dbo.Commands_CommandId]
GO
ALTER TABLE [dbo].[ExecutionLogEntries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExecutionLogEntries_dbo.CommandsExecution_ExecutionId] FOREIGN KEY([ExecutionId])
REFERENCES [dbo].[CommandsExecution] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExecutionLogEntries] CHECK CONSTRAINT [FK_dbo.ExecutionLogEntries_dbo.CommandsExecution_ExecutionId]
GO
ALTER TABLE [dbo].[ExecutionLogEntries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExecutionLogEntries_dbo.LogEntries_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[LogEntries] ([Id])
GO
ALTER TABLE [dbo].[ExecutionLogEntries] CHECK CONSTRAINT [FK_dbo.ExecutionLogEntries_dbo.LogEntries_Id]
GO
USE [master]
GO
